" Options
set number relativenumber
set idearefactormode=keep
set ideajoin
set incsearch

" Plugins
set surround
set multiple-cursors

let mapleader = " "
noremap <leader>f :action GotoFile<CR>
noremap <leader>a :action ShowIntentionActions<CR>
noremap <leader>k K

" Selecting entire lines
nnoremap x 0v$
nnoremap X $v0
vnoremap x <esc>`>j$v0`<o
vnoremap X <esc>`<k0v$`>o

" Toggle visual mode
noremap ; v

" Entering insert mode
vnoremap i vi
vnoremap I v`<i
vnoremap A v`>a

" Flip cursor position inside selection
vnoremap <A-;> o

" Add new lines from visual mode
vnoremap o vo
vnoremap O vO

" Repeat last action
noremap <A-.> ;
noremap <A-,> ,

" Delete single character under cursor
nnoremap dc x

" Change single character under cursor
nnoremap cc s

" General navigation
nnoremap w vlwh
nnoremap W vlWh
vnoremap w lwh
vnoremap W lWh
nnoremap b vb
nnoremap B vB
nnoremap e ve
nnoremap E vE
nnoremap f vf
nnoremap F vF
nnoremap t vt
nnoremap T vT
nnoremap { $v{
nnoremap } 0v}

" Goto mode
noremap gh 0
noremap gs ^
noremap gl $
noremap ge G
noremap gn gt
noremap gp gT
noremap ga :action Switcher<CR>
noremap ]d :action GotoNextError<CR>
noremap [d :action GotoPreviousError<CR>

" Match mode
noremap ms :action SurroundWith<CR>
nnoremap mi vi
nnoremap ma va

" Select entire buffer
nnoremap % ggvG$
vnoremap % vggvG$

" Search inside selection
vnoremap s :s/

" Commenting
noremap <C-c> :action CommentByLineComment<CR>
noremap <leader><C-c> :action CommentByBlockComment<CR>

" Undo
noremap U <C-r>

" Windows
noremap <leader>w <C-w>

" Refresh config
nnoremap <leader>\ :source ~/.ideavimrc
